*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

@font-face {
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    
      src: local("..\fonts\Caveat\Caveat-VariableFont_wght.eot"),
           url("../fonts/Caveat/Caveat-VariableFont_wght.ttf") format("ttf"),
           url("../fonts/Caveat/Caveat-VariableFont_wght.woff") format("woff"),
           url("../fonts/Caveat/Caveat-VariableFont_wght.woff2") format("woff2"),
           url("../fonts/Caveat/Caveat-VariableFont_wght.otf") format("opentype"),
           url("../fonts/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
    }

.regular {
    font-family: 'Bitter', serif;
    font-size: 30px;
    line-height: 30px;
    color: darkgreen;
    background: rgb(0, 0, 0);
    font-weight: 400;
    letter-spacing: 10px;
    word-spacing: 5px;
    text-indent: 5px;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    line-height: 50px;
    color: blueviolet;
    font-weight: 600;
    letter-spacing: 15px;
    word-spacing: 2px;
    text-indent: 55px;
}

.caveat {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    line-height: 60px;
    width: 500px;
    color: rgb(236, 0, 126);
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-indent: 15px;
}